

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: -60px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 629px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0 50px 0; /* Reduce el padding lateral */
  margin-left: -100px; /* Ajusta el margen izquierdo para moverlo hacia la izquierda */
}


.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 129px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 629px;
  background-image: url("./imagenes/1-01.png");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}




 .u-section-2 {
  background-image: url("./imagenes/triangulo-01.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: ;
}

.u-section-2 .u-group-1 {
  width: 716px;
  min-height: 165px;
  height: auto;
  margin: -10px auto 0; /* Remueve el margen superior */
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  position: relative;
  margin: 65px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 327px;
}

.u-section-2 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 327px;
}

.u-section-2 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-2 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
}

.u-section-2 .u-group-2 {
  width: 972px;
  min-height: 587px;
  height: auto;
  margin: 20px auto 140px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-1 {
  width: 189px;
  height: 199px;
  margin: 50px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 3rem;
  margin: 31px 20px 0;
}

.u-section-2 .u-text-5 {
  position: relative;
  margin: 20px 20px 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 590px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-group-2 {
    width: 801px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    width: 156px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 452px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-group-2 {
    width: 614px;
  }

  .u-section-2 .u-image-1 {
    width: 119px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 424px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 112px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 94px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: url("./7a249bf233fa1739baae8b35550b8706.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-layout-wrap-1 {
  margin: -97px auto 80px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 627px;
}

.u-section-3 .u-image-1 {
  height: 352px;
  margin: 0 auto 60px 0;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

.u-section-3 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 627px;
}

.u-section-3 .u-image-2 {
  height: 360px;
  margin: 95px auto 60px 0;
}

.u-section-3 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-3 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

.u-section-3 .u-btn-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 627px;
}

.u-section-3 .u-image-3 {
  height: 352px;
  margin: 0 auto 60px 0;
}

.u-section-3 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-3 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

.u-section-3 .u-btn-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2029px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 6px;
    margin-right: 6px;
  }


}


/* --------3 IMAGENES--------- */

/*texto y  imágenes dentro de la sección 'sec-844a' centrado */
#sec-844a .u-layout-cell .u-container-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Ajusta solo el margen de los textos dentro de esa sección */
#sec-844a .u-text-2,
#sec-844a .u-text-4,
#sec-844a .u-text-6 {
  margin: 10px 0; /* margen para separar el texto de la imagen */
}



        .u-body
        {
        
        --theme-sheet-width-xl: 1140px;
        --theme-sheet-width-lg: 940px;
        --theme-sheet-width-md: 720px;
        --theme-sheet-width-sm: 540px;
        --theme-sheet-width-xs: 340px;

        }
        p:not(.u-text-variant)
        {
        font-size: 1.125rem;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.6;
        }
        



        

/* -------DOBLE RECTANGULO-------- */



.rectangle {
  width: 100%; /* Ocupa todo el ancho de la página */
  height: 300px; /* Altura del rectángulo */
  display: flex;
  margin: 0 auto;
  margin-top: -300px;
}

/* Sección izquierda con fondo gris */
.section-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4; /* Fondo gris claro */
  border-right: 2px solid #ccc; /* Línea de separación vertical */
}

/* Sección derecha con fondo negro */
.section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #000; /* Fondo negro */
  color: white; /* Texto blanco para buena visibilidad */
}

/* Línea de separación entre el título y el texto */
.separator-line {
  width: 50px;
  height: 3px;
  background-color: #716e43; /* Color de la línea */
  margin: 10px auto;
}