
/*-------------------------PRIMERA SECCION---------------------*/


.u-section-1 {
    background-image: url("./imagenes/2.jpg");
    background-position: center top; /*  imagen en la parte superior */
    background-size: cover; /*  área sin excederse */
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 580px; /* Reduce la altura para ajustar el espacio */
  }
  
  .u-section-1 .u-group-1 {
    margin-top: 0 !important;
    width: 620px;
    min-height: 445px;
    background-image: none;
    height: auto;
    margin: 347px auto 0 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 30px;
  }
  
  .u-section-1 .u-shape-1 {
    width: 90px;
    margin: 36px auto 0 -64px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 5rem;
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 653px;
    }
  
    .u-section-1 .u-group-1 {
      width: 512px;
      height: auto;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 4.6875rem;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 711px;
    }
  
    .u-section-1 .u-group-1 {
      width: 485px;
      min-height: 388px;
      margin-top: 110px;
      margin-bottom: 60px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .u-section-1 .u-shape-1 {
      margin-top: 0;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 4.5rem;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 669px;
    }
  
    .u-section-1 .u-group-1 {
      margin-top: 37px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 35px;
      padding-right: 35px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.75rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 559px;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 468px;
  }
  
  .u-section-2 .u-shape-1 {
    width: 364px;
    height: 325px;
    margin: -212px 0 0 auto;
  }
  
  .u-section-2 .u-image-1 {
    width: 378px;
    height: 400px;
    margin: -283px 36px 0 auto;
  }
  
  .u-section-2 .u-group-1 {
    width: 139px;
    min-height: 139px;
    background-image: none;
    margin: -81px 319px 0 auto;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }
  
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1;
    margin: 15px -14px 0;
  }
  
  .u-section-2 .u-text-2 {
    font-style: italic;
    width: 99px;
    margin: 16px auto 15px;
  }
  
  .u-section-2 .u-group-2 {
    width: 628px;
    min-height: 388px;
    margin: -267px auto 0 0;
  }
  
  .u-section-2 .u-shape-2 {
    width: 104px;
    height: 102px;
    background-image: none;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: -82px 20px 0;
  }
  
  .u-section-2 .u-text-4 {
    margin: 20px 20px 0;
  }
  
  .u-section-2 .u-btn-1 {
    margin: 20px auto 0 20px;
  }
  
  .u-section-2 .u-group-3 {
    width: 458px;
    min-height: 101px;
    margin: -100px 0 18px auto;
  }
  
  .u-section-2 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-shape-1 {
      width: 335px;
    }
  
    .u-section-2 .u-image-1 {
      width: 350px;
      height: 357px;
      margin-top: -284px;
    }
  
    .u-section-2 .u-group-1 {
      width: 141px;
      min-height: 140px;
      margin-top: -37px;
      margin-right: 225px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-right: 5px;
    }
  
    .u-section-2 .u-text-1 {
      position: relative;
      margin-left: 1px;
      margin-right: 1px;
    }
  
    .u-section-2 .u-text-2 {
      position: relative;
      margin-left: 1px;
      margin-right: 1px;
      margin-bottom: 0;
      width: auto;
    }
  
    .u-section-2 .u-group-2 {
      width: 517px;
      margin-top: -252px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-text-4 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 16px;
    }
  
    .u-section-2 .u-group-3 {
      width: 386px;
      min-height: 100px;
      margin-top: -120px;
      margin-bottom: 63px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 550px;
    }
  
    .u-section-2 .u-shape-1 {
      width: 261px;
      height: 261px;
      margin-top: -149px;
    }
  
    .u-section-2 .u-image-1 {
      width: 272px;
      height: 304px;
      margin-top: -230px;
      margin-right: 23px;
    }
  
    .u-section-2 .u-group-1 {
      width: 135px;
      min-height: 135px;
      margin-right: 154px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-right: 0;
    }
  
    .u-section-2 .u-text-1 {
      margin-top: 11px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-2 {
      width: 107px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 11px;
    }
  
    .u-section-2 .u-group-2 {
      width: 396px;
      min-height: 486px;
    }
  
    .u-section-2 .u-shape-2 {
      width: 94px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-2 .u-text-4 {
      margin-top: 28px;
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 30px;
      margin-bottom: 13px;
      margin-left: 13px;
    }
  
    .u-section-2 .u-group-3 {
      width: 289px;
      min-height: 115px;
      margin-top: -196px;
      margin-bottom: 114px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 781px;
    }
  
    .u-section-2 .u-shape-1 {
      width: 216px;
      height: 247px;
      margin-top: -135px;
    }
  
    .u-section-2 .u-image-1 {
      width: 254px;
      margin-right: 17px;
    }
  
    .u-section-2 .u-group-1 {
      width: 130px;
      min-height: 131px;
      margin-top: -41px;
      margin-right: auto;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-right: 11px;
    }
  
    .u-section-2 .u-text-1 {
      margin-top: 15px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px;
      width: auto;
    }
  
    .u-section-2 .u-group-2 {
      width: 544px;
      min-height: 442px;
      margin-top: 13px;
      margin-left: -2px;
      margin-right: -2px;
    }
  
    .u-section-2 .u-shape-2 {
      width: 93px;
    }
  
    .u-section-2 .u-text-3 {
      position: relative;
      margin-right: 9px;
      margin-left: 9px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-bottom: 0;
      margin-left: 9px;
    }
  
    .u-section-2 .u-group-3 {
      width: 271px;
      margin: -711px auto 646px -2px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 9px;
      margin-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1127px;
    }
  
    .u-section-2 .u-shape-1 {
      width: 295px;
      margin-top: -71px;
    }
  
    .u-section-2 .u-image-1 {
      width: 312px;
      margin-top: -211px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-2 .u-group-1 {
      width: 119px;
      min-height: 120px;
      margin-top: 25px;
      margin-right: 0;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 3rem;
      margin-top: 10px;
      margin-left: 7px;
      margin-right: 7px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 11px;
      margin-right: 11px;
      margin-bottom: 10px;
    }
  
    .u-section-2 .u-group-2 {
      min-height: 587px;
      margin-top: 67px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-shape-2 {
      width: 97px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 6px;
    }
  
    .u-section-2 .u-group-3 {
      width: 221px;
      min-height: 133px;
      margin-top: -736px;
      margin-bottom: 662px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-5 {
      margin: 15px 6px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 173px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 35px;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 192px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-3 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 15px auto 0 51px;
  }
  
  .u-section-3 .u-text-1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    width: 125px;
    font-weight: 700;
    margin: 15px auto;
  }
  
  .u-section-3 .u-layout-cell-2 {
    background-image: none;
    min-height: 192px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }
  
  .u-section-3 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin: 15px auto 0 51px;
  }
  
  .u-section-3 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    width: 125px;
    font-weight: 700;
    margin: 15px auto;
  }
  
  .u-section-3 .u-layout-cell-3 {
    background-image: none;
    min-height: 192px;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-3 .u-icon-3 {
    height: 64px;
    width: 64px;
    margin: 15px auto 0 51px;
  }
  
  .u-section-3 .u-text-3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    width: 125px;
    font-weight: 700;
    margin: 15px auto;
  }
  
  .u-section-3 .u-layout-cell-4 {
    background-image: none;
    min-height: 192px;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-3 .u-icon-4 {
    height: 64px;
    width: 64px;
    margin: 15px auto 0 51px;
  }
  
  .u-section-3 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    width: 125px;
    font-weight: 700;
    margin: 15px auto;
  }
  
  .u-section-3 .u-layout-cell-5 {
    background-image: none;
    min-height: 192px;
  }
  
  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-3 .u-icon-5 {
    height: 64px;
    width: 64px;
    margin: 15px auto 0 51px;
  }
  
  .u-section-3 .u-text-5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    width: 125px;
    font-weight: 700;
    margin: 15px auto;
  }
  
  .u-section-3 .u-layout-cell-6 {
    background-image: none;
    min-height: 192px;
  }
  
  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-3 .u-icon-6 {
    height: 64px;
    width: 64px;
    margin: 28px auto 0;
  }
  
  .u-section-3 .u-text-6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    font-weight: 700;
    width: 125px;
    margin: 15px auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 162px;
    }
  
    .u-section-3 .u-icon-1 {
      position: relative;
      margin-left: auto;
    }
  
    .u-section-3 .u-text-1 {
      width: 103px;
      position: relative;
    }
  
    .u-section-3 .u-icon-2 {
      position: relative;
      margin-left: auto;
    }
  
    .u-section-3 .u-text-2 {
      width: 103px;
      position: relative;
    }
  
    .u-section-3 .u-icon-3 {
      position: relative;
      margin-left: auto;
    }
  
    .u-section-3 .u-text-3 {
      width: 103px;
      position: relative;
    }
  
    .u-section-3 .u-icon-4 {
      position: relative;
      margin-left: auto;
    }
  
    .u-section-3 .u-text-4 {
      width: 103px;
      position: relative;
    }
  
    .u-section-3 .u-icon-5 {
      position: relative;
      margin-left: auto;
    }
  
    .u-section-3 .u-text-5 {
      width: 103px;
      position: relative;
    }
  
    .u-section-3 .u-icon-6 {
      margin-top: 15px;
    }
  
    .u-section-3 .u-text-6 {
      width: 103px;
      position: relative;
    }
  }
  
  
  /*------icono------*/
  
  .icon-section {
    display: flex;
    justify-content: center; /* Centramdo de iconos */
    align-items: center;
    gap: 160px; /* Espacio */
    margin: 10px 0;
  }
  
  .icon-container {
    text-align: center;
  }
  
  .icon-container img {
    width: 70px;
    height: auto;
    filter: invert(17%) sepia(94%) saturate(5625%) hue-rotate(1deg) brightness(82%) contrast(105%);
    /*  filtro   rojo más oscuro */
  }
  
  .icon-container img {
    width: 120px; /* Ajusta el tamaño de los iconos */
    height: auto;
  }
  
  .icon-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  
  /*---------icono------*/
  
  @media (max-width: 991px) {
    .u-section-3 .u-layout-cell-1 {
      min-height: 195px;
    }
  
    .u-section-3 .u-text-1 {
      width: 183px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 195px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-right: 16px;
    }
  
    .u-section-3 .u-text-2 {
      width: 180px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 195px;
    }
  
    .u-section-3 .u-text-3 {
      width: 197px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 195px;
    }
  
    .u-section-3 .u-text-4 {
      width: 212px;
    }
  
    .u-section-3 .u-layout-cell-5 {
      min-height: 194px;
    }
  
    .u-section-3 .u-text-5 {
      width: 223px;
    }
  
    .u-section-3 .u-layout-cell-6 {
      min-height: 194px;
    }
  
    .u-section-3 .u-text-6 {
      width: 212px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-text-1 {
      width: 221px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-3 .u-text-2 {
      width: 254px;
    }
  
    .u-section-3 .u-text-3 {
      width: 254px;
    }
  
    .u-section-3 .u-text-4 {
      width: 278px;
    }
  
    .u-section-3 .u-text-5 {
      width: 236px;
    }
  
    .u-section-3 .u-text-6 {
      width: 236px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-text-1 {
      width: 186px;
    }
  
    .u-section-3 .u-text-2 {
      width: 186px;
    }
  
    .u-section-3 .u-text-3 {
      width: 186px;
    }
  
    .u-section-3 .u-text-4 {
      width: 186px;
    }
  
    .u-section-3 .u-text-5 {
      width: 186px;
    }
  
    .u-section-3 .u-text-6 {
      width: 186px;
      margin-top: 14px;
    }
  }.u-section-4 .u-sheet-1 {
    min-height: 506px;
  }
  
  .u-section-4 .u-shape-1 {
    width: 230px;
    height: 384px;
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: initial;
    margin-left: auto;
    background-image: none;
  }
  
  .u-section-4 .u-group-1 {
    width: 556px;
    min-height: 114px;
    margin: -358px auto 0 0;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-4 .u-shape-2 {
    width: 104px;
    height: 102px;
    background-image: none;
    margin-top: 6px;
    margin-bottom: initial;
  }
  
  .u-section-4 .u-text-1 {
    margin: -88px 20px 10px;
  }
  
  .u-section-4 .u-image-1 {
    width: 496px;
    height: 380px;
    margin: -100px 51px 0 auto;
  }
  
  .u-section-4 .u-group-2 {
    width: 556px;
    min-height: 80px;
    margin: -269px auto 0 0;
  }
  
  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 26px 159px 0 84px;
  }
  
  .u-section-4 .u-text-3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: -38px 472px 0 10px;
  }
  
  .u-section-4 .u-group-3 {
    width: 556px;
    min-height: 80px;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 26px 159px 0 84px;
  }
  
  .u-section-4 .u-text-5 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: -38px 472px 0 10px;
  }
  
  .u-section-4 .u-group-4 {
    width: 556px;
    min-height: 80px;
    margin: 0 auto 26px 0;
  }
  
  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 26px 159px 0 85px;
  }
  
  .u-section-4 .u-text-7 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: -38px 471px 0 11px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 504px;
    }
  
    .u-section-4 .u-shape-1 {
      width: 190px;
    }
  
    .u-section-4 .u-group-1 {
      width: 458px;
    }
  
    .u-section-4 .u-shape-2 {
      width: 107px;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: 0;
      position: relative;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      position: relative;
    }
  
    .u-section-4 .u-image-1 {
      width: 409px;
      margin-right: 42px;
    }
  
    .u-section-4 .u-group-2 {
      width: 458px;
    }
  
    .u-section-4 .u-text-2 {
      width: auto;
      margin-right: 131px;
      margin-left: 81px;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 389px;
      margin-bottom: 16px;
      margin-left: 8px;
    }
  
    .u-section-4 .u-group-3 {
      width: 458px;
    }
  
    .u-section-4 .u-text-4 {
      width: auto;
      margin-right: 131px;
      margin-left: 81px;
    }
  
    .u-section-4 .u-text-5 {
      margin-right: 389px;
      margin-bottom: 16px;
      margin-left: 8px;
    }
  
    .u-section-4 .u-group-4 {
      width: 458px;
      min-height: 73px;
      margin-bottom: 85px;
    }
  
    .u-section-4 .u-text-6 {
      width: auto;
      margin-top: 23px;
      margin-right: 37px;
      margin-left: 81px;
    }
  
    .u-section-4 .u-text-7 {
      width: auto;
      margin-right: 389px;
      margin-bottom: 13px;
      margin-left: 8px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 535px;
    }
  
    .u-section-4 .u-shape-1 {
      width: 145px;
      margin-top: 55px;
    }
  
    .u-section-4 .u-group-1 {
      width: 375px;
    }
  
    .u-section-4 .u-shape-2 {
      width: 90px;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-4 .u-image-1 {
      width: 313px;
      margin-right: 32px;
    }
  
    .u-section-4 .u-group-2 {
      width: 351px;
      min-height: 70px;
    }
  
    .u-section-4 .u-text-2 {
      width: 197px;
      position: relative;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-text-3 {
      width: auto;
      position: relative;
      margin: 20px auto 0;
    }
  
    .u-section-4 .u-group-3 {
      width: 351px;
      min-height: 72px;
      margin-top: 5px;
    }
  
    .u-section-4 .u-text-4 {
      width: 197px;
      position: relative;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-text-5 {
      width: auto;
      position: relative;
      margin-right: 279px;
      margin-bottom: 5px;
      margin-left: 6px;
    }
  
    .u-section-4 .u-group-4 {
      width: 351px;
      min-height: 62px;
      margin-top: 6px;
      margin-bottom: -91px;
    }
  
    .u-section-4 .u-text-6 {
      position: relative;
      margin-top: 5px;
      margin-right: 0;
      margin-left: 70px;
    }
  
    .u-section-4 .u-text-7 {
      position: relative;
      margin: 20px 0 0 70px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 899px;
    }
  
    .u-section-4 .u-shape-1 {
      width: 136px;
      margin-top: 434px;
      margin-right: 23px;
      margin-bottom: 0;
    }
  
    .u-section-4 .u-group-1 {
      margin-top: -755px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-shape-2 {
      width: 105px;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-4 .u-image-1 {
      width: 467px;
      margin-top: 303px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-4 .u-group-2 {
      margin-top: -654px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-text-2 {
      width: auto;
      margin-right: 29px;
      margin-left: 73px;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 29px;
      margin-left: 73px;
    }
  
    .u-section-4 .u-group-3 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-text-4 {
      width: auto;
      margin-right: 270px;
      margin-left: 73px;
    }
  
    .u-section-4 .u-text-5 {
      margin-top: 20px;
      margin-right: 270px;
      margin-left: 73px;
    }
  
    .u-section-4 .u-group-4 {
      min-height: 76px;
      margin-bottom: 90px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-text-6 {
      margin-top: 10px;
      margin-right: 30px;
      margin-left: 73px;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: 30px;
      margin-left: 73px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-shape-1 {
      width: 114px;
      margin-right: 0;
    }
  
    .u-section-4 .u-shape-2 {
      width: 99px;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-4 .u-image-1 {
      width: 305px;
    }
  
    .u-section-4 .u-text-2 {
      margin-top: 21px;
      margin-right: 16px;
      margin-left: 68px;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 16px;
      margin-left: 68px;
    }
  
    .u-section-4 .u-text-4 {
      margin-top: 22px;
      margin-right: 16px;
      margin-left: 68px;
    }
  
    .u-section-4 .u-text-5 {
      margin-right: 16px;
      margin-left: 68px;
      margin-bottom: 0;
    }
  
    .u-section-4 .u-text-6 {
      margin-top: 19px;
      margin-right: 6px;
      margin-left: 67px;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: 6px;
      margin-left: 67px;
    }
  
  
    /*---------seccion inferior---------*/
  
  } .u-section-5 {
    background-image: none;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 625px;
  }
  
  .u-section-5 .u-layout-wrap-1 {
    margin: 55px 0 0 auto;
  }
  
  .u-section-5 .u-image-1 {
    background-image: url("./imagenes/entradavehicular.0113.jpg");
    min-height: 268px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-image-2 {
    background-image: url("./imagenes/entradavehicular.0841.jpg");
    min-height: 268px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-image-3 {
    background-image: url("./imagenes/entradavehicular.1198.jpg");
    min-height: 268px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-image-4 {
    background-image: url("./imagenes/entradavehicular.0869.jpg");
    min-height: 268px;
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-layout-cell-5 {
    min-height: 535px;
  }
  
  .u-section-5 .u-shape-1 {
    width: 132px;
    height: 102px;
    background-image: none;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-1 {
    margin: -82px 20px 0;
  }
  
  .u-section-5 .u-text-2 {
    margin: 20px 20px 50px;
  }
  
  .u-section-5 .u-btn-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  
  
  
  @media (max-width: 1199px) {
    .u-section-5 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-image-1 {
      min-height: 293px;
    }
  
    .u-section-5 .u-image-2 {
      min-height: 293px;
    }
  
    .u-section-5 .u-image-3 {
      min-height: 293px;
    }
  
    .u-section-5 .u-image-4 {
      min-height: 293px;
    }
  
    .u-section-5 .u-layout-cell-5 {
      min-height: 585px;
    }
  
    .u-section-5 .u-shape-1 {
      width: 115px;
    }
  
    .u-section-5 .u-text-1 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-text-2 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-shape-1 {
      width: 111px;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-shape-1 {
      width: 112px;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 670px;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-layout-cell-5 {
      min-height: 635px;
    }
  
    .u-section-5 .u-shape-1 {
      width: 107px;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  
  
  /*-------------------------SEGUNDA SECCION---------------------*/
  
.u-hidden-block {
  visibility: hidden!important;
}
.u-locked-block {
  pointer-events: none!important;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
b,
strong {
  font-weight: inherit;
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.u-btn {
  display: table;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  --border-radius: 0;
  align-self: flex-start;
}
.u-btn:focus,
.u-btn:active:focus,
.u-btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-btn:hover,
.u-btn:focus {
  text-decoration: none;
}
.u-btn:active,
.u-btn.active {
  outline: 0;
  background-image: none;
}
.u-btn.disabled,
.u-btn[disabled] {
  opacity: 0.6;
}
.u-btn-circle {
  border-radius: 50%;
}


.u-link,
a {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
.u-link {
  display: table;
  border-style: solid;
  border-bottom-width: 0;
  white-space: nowrap;
  align-self: flex-start;
}



.u-progress-text-hidden .u-form-progress-text {
  display: none !important;
}
@media (min-width: 1400px) {
  .u-progress-text-hidden-xxl .u-form-progress-inner {
    margin-bottom: 0;
  }
  .u-progress-text-hidden-xxl .u-form-progress-text {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-progress-text-hidden-xl .u-form-progress-inner {
    margin-bottom: 0;
  }
  .u-xl-mode .u-progress-text-hidden-xl .u-form-progress-text {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-progress-text-hidden-xl .u-form-progress-inner {
    margin-bottom: 0;
  }
  .u-xxl-mode .u-progress-text-hidden-xl .u-form-progress-text {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-progress-text-hidden-lg .u-form-progress-inner {
    margin-bottom: 0;
  }
  .u-progress-text-hidden-lg .u-form-progress-text {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-progress-text-hidden-md .u-form-progress-inner {
    margin-bottom: 0;
  }
  .u-progress-text-hidden-md .u-form-progress-text {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-progress-text-hidden-sm .u-form-progress-inner {
    margin-bottom: 0;
  }
  .u-progress-text-hidden-sm .u-form-progress-text {
    display: none !important;
  }
}
@media (max-width: 575px) {
  .u-progress-text-hidden-xs .u-form-progress-inner {
    margin-bottom: 0;
  }
  .u-progress-text-hidden-xs .u-form-progress-text {
    display: none !important;
  }
}

section > *,
footer > *,
.u-sheet > *,
.u-section-row > * {
  position: relative;
}
base {
  display: none;
}
a {
  color: #259bca;
  text-decoration: none;
}
a:hover {
  color: #0676a4;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}

.u-hidden {
  display: none !important;
}
@media (min-width: 1400px) {
  .u-hidden-xxl {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-hidden-xl {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-hidden-xl {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-hidden-lg {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-hidden-md {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-hidden-sm {
    display: none !important;
  }
}
@media (max-width: 575px) {
  .u-hidden-xs {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .u-text-default-xxl {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .u-text-default-xxl:empty {
    display: block;
    width: 15px;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-text-default-xl {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .u-xl-mode .u-text-default-xl:empty {
    display: block;
    width: 15px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-text-default-xl {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .u-xxl-mode .u-text-default-xl:empty {
    display: block;
    width: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-text-default-lg {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .u-text-default-lg:empty {
    display: block;
    width: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-text-default-md {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .u-text-default-md:empty {
    display: block;
    width: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-text-default-sm {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .u-text-default-sm:empty {
    display: block;
    width: 15px;
  }
}
@media (max-width: 575px) {
  .u-text-default-xs {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .u-text-default-xs:empty {
    display: block;
    width: 15px;
  }
}
.u-caret {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 1.5em;
}
.u-image,
.u-background-effect-image,
.u-video-poster {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
img.u-image,
.u-video-poster {
  overflow: hidden;
}
.u-back-image.u-image-contain,
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
}
.u-back-image.u-image-tiles,
.u-image.u-image-tiles {
  background-size: initial;
  background-repeat: repeat;
  background-position: top left !important;
}
section.u-image:not(.u-hover-box),
.u-sheet.u-image:not(.u-hover-box),
.u-group.u-image:not(.u-hover-box),
.u-layout-cell.u-image:not(.u-hover-box) {
  overflow: visible;
}
.u-text .u-image {
  display: inline-block;
}
.u-post-content .u-image {
  margin-bottom: 0.5rem;
}
.u-image-circle.u-image {
  border-radius: 50% !important;
}
.u-image-square {
  border-radius: 0;
}
[data-post-link],
[data-href] {
  cursor: pointer;
}
.u-sheet {
  position: relative;
  margin: 0 auto;
}
.u-xl-mode .u-sheet {
  width: var(--theme-sheet-width-xl);
}
.u-xxl-mode .u-sheet {
  width: var(--theme-sheet-width-xxl);
}
@media (min-width: 1400px) {
  .u-sheet {
    width: var(--theme-sheet-width-xxl) !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-sheet {
    width: var(--theme-sheet-width-lg) !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: var(--theme-sheet-width-md) !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: var(--theme-sheet-width-sm) !important;
  }
}
@media (max-width: 575px) {
  .u-sheet {
    width: var(--theme-sheet-width-xs) !important;
  }
}
.u-body .u-sheet .u-sheet {
  width: 100% !important;
}
.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
}

.u-inner-container-layout {
  white-space: normal;
}
.u-expanded {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.u-expanded-width {
  width: 100% !important;
}
@media (min-width: 1400px) {
  .u-expanded-width-xxl {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-expanded-width-xl {
    width: 100% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-expanded-width-xl {
    width: 100% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-width-lg {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-width-md {
    width: 100% !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-width-sm {
    width: 100% !important;
  }
}
@media (max-width: 575px) {
  .u-expanded-width-xs {
    width: 100% !important;
  }
}
.u-expanded-width:not(.custom-expanded) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media (min-width: 1400px) {
  .u-expanded-width:not(.custom-expanded)-xxl {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-expanded-width:not(.custom-expanded)-xl {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-expanded-width:not(.custom-expanded)-xl {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-width:not(.custom-expanded)-lg {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-width:not(.custom-expanded)-md {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-width:not(.custom-expanded)-sm {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (max-width: 575px) {
  .u-expanded-width:not(.custom-expanded)-xs {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.u-expanded-height {
  position: absolute !important;
  height: 100% !important;
}
@media (min-width: 1400px) {
  .u-expanded-height-xxl {
    position: absolute !important;
    height: 100% !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-expanded-height-xl {
    position: absolute !important;
    height: 100% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-expanded-height-xl {
    position: absolute !important;
    height: 100% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-height-lg {
    position: absolute !important;
    height: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-height-md {
    position: absolute !important;
    height: 100% !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-height-sm {
    position: absolute !important;
    height: 100% !important;
  }
}
@media (max-width: 575px) {
  .u-expanded-height-xs {
    position: absolute !important;
    height: 100% !important;
  }
}
.u-expanded-height:not(.custom-expanded) {
  top: 0 !important;
}
@media (min-width: 1400px) {
  .u-expanded-height:not(.custom-expanded)-xxl {
    top: 0 !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-expanded-height:not(.custom-expanded)-xl {
    top: 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-expanded-height:not(.custom-expanded)-xl {
    top: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-height:not(.custom-expanded)-lg {
    top: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-height:not(.custom-expanded)-md {
    top: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-height:not(.custom-expanded)-sm {
    top: 0 !important;
  }
}
@media (max-width: 575px) {
  .u-expanded-height:not(.custom-expanded)-xs {
    top: 0 !important;
  }
}
.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .u-valign-middle-xxl,
  .u-valign-top-xxl,
  .u-valign-bottom-xxl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-middle-xl,
  .u-xl-mode .u-valign-top-xl,
  .u-xl-mode .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-middle-xl,
  .u-xxl-mode .u-valign-top-xl,
  .u-xxl-mode .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg,
  .u-valign-top-lg,
  .u-valign-bottom-lg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md,
  .u-valign-top-md,
  .u-valign-bottom-md {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm,
  .u-valign-top-sm,
  .u-valign-bottom-sm {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .u-valign-middle-xs,
  .u-valign-top-xs,
  .u-valign-bottom-xs {
    display: flex;
    flex-direction: column;
  }
}
.u-valign-middle > *,
.u-valign-top > *,
.u-valign-bottom > * {
  flex-shrink: 0;
}
.u-valign-middle {
  justify-content: center;
}
@media (min-width: 1400px) {
  .u-valign-middle-xxl {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-middle-xl {
    justify-content: center;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-middle-xl {
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md {
    justify-content: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .u-valign-middle-xs {
    justify-content: center;
  }
}
.u-valign-top {
  justify-content: flex-start;
}
@media (min-width: 1400px) {
  .u-valign-top-xxl {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-top-xl {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-top-xl {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-top-lg {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-top-md {
    justify-content: flex-start;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-top-sm {
    justify-content: flex-start;
  }
}
@media (max-width: 575px) {
  .u-valign-top-xs {
    justify-content: flex-start;
  }
}
.u-valign-bottom {
  justify-content: flex-end;
}
@media (min-width: 1400px) {
  .u-valign-bottom-xxl {
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-bottom-xl {
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-bottom-xl {
    justify-content: flex-end;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-bottom-lg {
    justify-content: flex-end;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-bottom-md {
    justify-content: flex-end;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-bottom-sm {
    justify-content: flex-end;
  }
}
@media (max-width: 575px) {
  .u-valign-bottom-xs {
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  :not(.u-sheet) > [class*="u-gutter-"]:not(.u-gutter-0).u-expanded-width {
    overflow: hidden;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout-row > * {
    min-width: 100%;
  }
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout .u-layout-cell {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .u-absolute-hcenter,
  .u-absolute-hcenter-sm {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout-row > * {
    min-width: 100%;
  }
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .u-absolute-hcenter,
  .u-absolute-hcenter-xs {
    max-width: 100%;
  }  
}
.u-layout-row > .u-size-31 {
  flex: 0 0 51.66666667%;
  max-width: 51.66666667%;
  min-width: 51.66666667%;
}
.u-layout-col > .u-size-31 {
  flex: 31 0 auto;
}
.u-layout-row > .u-size-30 {
  flex: 0 0 50%;
  max-width: 50%;
  min-width: 50%;
}
.u-layout-col > .u-size-30 {
  flex: 30 0 auto;
}
.u-layout-row > .u-size-29 {
  flex: 0 0 48.33333333%;
  max-width: 48.33333333%;
  min-width: 48.33333333%;
}
.u-layout-col > .u-size-29 {
  flex: 29 0 auto;
}
.u-layout-row > .u-size-28 {
  flex: 0 0 46.66666667%;
  max-width: 46.66666667%;
  min-width: 46.66666667%;
}
  .u-layout-col > .u-size-50-xs {
    flex: 50 0 auto;
  }
  .u-layout-row > .u-size-49-xs {
    flex: 0 0 81.66666667%;
    max-width: 81.66666667%;
    min-width: 81.66666667%;
  }
  .u-layout-col > .u-size-49-xs {
    flex: 49 0 auto;
  }
  .u-layout-row > .u-size-48-xs {
    flex: 0 0 80%;
    max-width: 80%;
    min-width: 80%;
  }
  .u-layout-col > .u-size-48-xs {
    flex: 48 0 auto;
  }
  .u-layout-row > .u-size-47-xs {
    flex: 0 0 78.33333333%;
    max-width: 78.33333333%;
    min-width: 78.33333333%;
  }
  .u-layout-col > .u-size-47-xs {
    flex: 47 0 auto;
  }
  .u-layout-row > .u-size-46-xs {
    flex: 0 0 76.66666667%;
    max-width: 76.66666667%;
    min-width: 76.66666667%;
  }
  .u-layout-col > .u-size-46-xs {
    flex: 46 0 auto;
  }
  .u-layout-row > .u-size-45-xs {
    flex: 0 0 75%;
    max-width: 75%;
    min-width: 75%;
  }
  .u-layout-col > .u-size-45-xs {
    flex: 45 0 auto;
  }
  .u-layout-row > .u-size-44-xs {
    flex: 0 0 73.33333333%;
    max-width: 73.33333333%;
    min-width: 73.33333333%;
  }
  .u-layout-col > .u-size-44-xs {
    flex: 44 0 auto;
  }
  .u-layout-row > .u-size-43-xs {
    flex: 0 0 71.66666667%;
    max-width: 71.66666667%;
    min-width: 71.66666667%;
  }
  .u-layout-col > .u-size-43-xs {
    flex: 43 0 auto;
  }
  .u-layout-row > .u-size-42-xs {
    flex: 0 0 70%;
    max-width: 70%;
    min-width: 70%;
  }
  .u-layout-col > .u-size-42-xs {
    flex: 42 0 auto;
  }
  .u-layout-row > .u-size-41-xs {
    flex: 0 0 68.33333333%;
    max-width: 68.33333333%;
    min-width: 68.33333333%;
  }
  .u-layout-col > .u-size-41-xs {
    flex: 41 0 auto;
  }


.u-gutter-34.u-layout-spacing-left-right {
  padding: 0 34px;
}
.u-gutter-34.u-layout-spacing-all {
  padding: 34px;
}
.u-gutter-32 .u-layout {
  margin: -16px;
}
.u-gutter-32 .u-layout .u-layout-cell {
  border: 16px solid transparent;
}
.u-gutter-32.u-layout-spacing-top {
  padding-top: 32px;
}
.u-gutter-32.u-layout-spacing-top-bottom {
  padding: 32px 0;
}
.u-gutter-32.u-layout-spacing-left-right {
  padding: 0 32px;
}
.u-gutter-32.u-layout-spacing-all {
  padding: 32px;
}
.u-gutter-30 .u-layout {
  margin: -15px;
}
.u-gutter-30 .u-layout .u-layout-cell {
  border: 15px solid transparent;
}
.u-gutter-30.u-layout-spacing-top {
  padding-top: 30px;
}
.u-gutter-30.u-layout-spacing-top-bottom {
  padding: 30px 0;
}
.u-gutter-30.u-layout-spacing-left-right {
  padding: 0 30px;
}
.u-gutter-30.u-layout-spacing-all {
  padding: 30px;
}
.u-gutter-28 .u-layout {
  margin: -14px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .u-layout-col > * {
    flex-basis: auto !important;
  }
}
.u-layout-col,
.u-layout-row,
.u-layout-col > *,
.u-layout-row > * {
  display: flex;
}
.u-layout-col,
.u-layout-row {
  flex: 1 1 auto;
}
.u-layout-row > * {
  max-height: 100%;
  min-height: -webkit-fit-content;
  min-height: fit-content;
}
.u-layout-col > * {
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}
.u-layout-col {
  flex-direction: column;
  min-height: -webkit-fit-content;
  min-height: fit-content;
}
.u-layout-row {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}
.u-layout-cell {
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
}
.u-sheet:not(.u-image):not(.u-video) {
  pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
  pointer-events: auto;
  pointer-events: initial;
}
.u-stick-footer {
  display: flex;
  flex-direction: column;
}
.u-stick-footer .u-footer {
  margin-top: auto;

}

a.u-opacity-80,
span.u-opacity-80,
img.u-opacity-80,
.u-opacity-80.u-line,
.u-opacity-80.u-shape,
.u-opacity-80.u-menu-overlay {
  opacity: 0.8;
}

.u-palette-1-dark-3,
.u-body.u-palette-1-dark-3,
section.u-palette-1-dark-3:before,
.u-palette-1-dark-3 > .u-audio-main-layout-wrapper:before,
.u-palette-1-dark-3 > .u-container-layout:before,
.u-palette-1-dark-3 > .u-inner-container-layout:before,
.u-palette-1-dark-3.u-sidenav:before,
.u-container-layout.u-container-layout.u-palette-1-dark-3:before,
.u-table-alt-palette-1-dark-3 tr:nth-child(even) {
  color: #ffffff;
  background-color: #C04040;
}

.u-grey-5,
.u-body.u-grey-5,
section.u-grey-5:before,
.u-grey-5 > .u-audio-main-layout-wrapper:before,
.u-grey-5 > .u-container-layout:before,
.u-grey-5 > .u-inner-container-layout:before,
.u-grey-5.u-sidenav:before,
.u-container-layout.u-container-layout.u-grey-5:before,
.u-table-alt-grey-5 tr:nth-child(even) {
  color: #1c1f22;
  background-color: #f2f2f2;
}

.u-text-palette-2-base,
.u-input.u-text-palette-2-base,
.u-input.u-text-palette-2-base[class*="u-border-"],
li.active > a.u-button-style.u-text-palette-2-base,
li.active > a.u-button-style.u-text-palette-2-base[class*="u-border-"],
a.u-button-style.u-text-palette-2-base,
a.u-button-style.u-text-palette-2-base[class*="u-border-"] {
  color: #edbf91 !important;
}
        .u-body
        {
   
        
        --theme-sheet-width-xl: 1140px;
        --theme-sheet-width-lg: 940px;
        --theme-sheet-width-md: 720px;
        --theme-sheet-width-sm: 540px;
        --theme-sheet-width-xs: 340px;

        }

        h1.u-title
        {
        font-weight: 700;
        line-height: 1.1;
        font-size: 6rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h2.u-subtitle
        {
        font-weight: 700;
        line-height: 1.2;
        font-size: 2.25rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h1:not(.u-title)
        
          /*---------recuadro aprende mas------*/
      
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn,
        .u-gradient > .u-container-layout > .u-btn,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn,
        .u-btn
        
        {
        background-color: #b80a0a;
        color: #FFFFFF;
        }

        .u-gradient > .u-container-layout > .u-btn:hover,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:hover,
        .u-btn:hover
        {
        background-color: #FFD700;
        color: #FFFFFF;
        }
  
