/*-------------------------
           PRIMERA PARTE
-------------------------------*/

body {
  font-family: 'Montserrat', sans-serif !important;
}

.u-section-1 {
  background-image: none;
  min-height: 688px;
  position: relative;
  padding: 50px 0;
  margin-top: 60px; /* Ajusta según la altura del header */
  z-index: 1;
}

.u-section-1 .u-image-1 {
  height: 688px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -377px auto 324px calc(((100% - 1140px) / 2)  + 147px);
  
}

.bold-highlight {
  font-weight: 800; /* Grosor del texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra sutil para énfasis */
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 147px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 147px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2) + 147px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2) + 93px);
  }
} .u-section-2 {
  background-image: none;
  
}

.u-section-2 .u-sheet-1 {
  min-height: 679px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 120px 0 0;
}

.u-section-2 .u-text-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 38px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 61px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-2 .u-text-1 {
    width: 743px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 53px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 332px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: none;
  
  
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 780px;
  margin: -190px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 452px;
  background-image: url("./imagenes/1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 452px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 64px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 452px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-5 {
  margin: 46px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 452px;
  background-image: url("./imagenes/2.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 452px;
  background-image: url("./imagenes/N1.0043.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 452px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 60px 30px 30px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; /*  centrar horizontalmente */
  height: 70%
}

.u-section-3 .u-text-7 {
  margin: 87px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1418px;
  }

  .u-section-3 .u-image-1 {
    min-height: 373px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 373px;
  }

  .u-section-3 .u-image-2 {
    min-height: 373px;
  }

  .u-section-3 .u-image-3 {
    min-height: 373px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 373px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1199px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 286px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 286px;
  }

  .u-section-3 .u-image-3 {
    min-height: 286px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 30px 60px;
  text-align: center;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1643px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 429px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-3 .u-image-2 {
    order: 0;
    min-height: 429px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 429px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1244px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-right: calc(((100% - 1140px) / 2) + 371px);
    margin-left: calc(((100% - 1140px) / 2) + 429px);
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-image-1 {
    min-height: 270px;
  }

  .u-section-3 .u-image-2 {
    min-height: 270px;
  }

  .u-section-3 .u-image-3 {
    min-height: 270px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 940px;
}

.u-section-4 .u-shape-1 {
  width: 1028px;
  height: 513px;
  margin: 170px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 852px;
  margin: -545px 18px 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 597px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 5px;
}

.u-section-4 .u-text-1 {
  margin: 115px auto 0;
  
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 48px 25px 0;
  color: black !important; /* Fuerza el color negro */
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 2px;
  background-image: none;
  margin: 40px auto 0;
  padding: 20px 58px 22px 57px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 481px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 940px;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
      color: black;
  }
  

  .u-section-4 .u-layout-cell-2 {
    min-height: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 25858px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 25020px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 16591px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 15753px;
  }
} .u-section-5 {
  background-image: none;
  
}

.u-section-5 .u-sheet-1 {
  min-height: 560px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 80px auto;
  
}

.u-section-5 .u-image-1 {
  min-height: 400px;
  background-image: url("./imagenes/18.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  width: 320px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  width: 320px;
  margin: 19px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 379px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 569px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 358px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }
}

/*-------------------------
          ESTRUCTURA
-------------------------------*/
 


/*------texto portada------ */

  .u-text-white,
  .u-input.u-text-white,
  .u-input.u-text-white[class*="u-border-"],
  li.active > a.u-button-style.u-text-white,
  li.active > a.u-button-style.u-text-white[class*="u-border-"],
  a.u-button-style.u-text-white,
  a.u-button-style.u-text-white[class*="u-border-"] {
    color: #ffffff !important;
    
  }




  /*------2° RECUADRO------ */
.u-black,
.u-body.u-black,
section.u-black:before,
.u-black > .u-audio-main-layout-wrapper:before,
.u-black > .u-container-layout:before,
.u-black > .u-inner-container-layout:before,
.u-black.u-sidenav:before,
.u-container-layout.u-container-layout.u-black:before,
.u-table-alt-black tr:nth-child(even) {
  color: #ffffff;
  background-color: #a00000;
}



.u-border-20,
.u-separator-20:after,
.u-text.u-border-20,
.u-input.u-border-20,
.u-field-input.u-field-input.u-border-20,
a.u-button-style.u-border-20 {
  border-width: 20px;
}

.u-radius-11 {
  --border-radius: 11px;
}


  /*------3°RECUADRO------ */

  .u-grey-5,
  .u-body.u-grey-5,
  section.u-grey-5:before,
  .u-grey-5 > .u-audio-main-layout-wrapper:before,
  .u-grey-5 > .u-container-layout:before,
  .u-grey-5 > .u-inner-container-layout:before,
  .u-grey-5.u-sidenav:before,
  .u-container-layout.u-container-layout.u-grey-5:before,
  .u-table-alt-grey-5 tr:nth-child(even) {
    color: #111111;
    background-color: #f2f2f2;
  }
  .u-border-palette-1-light-1,
  .u-border-palette-1-light-1.u-input,
  .u-border-palette-1-light-1.u-field-input.u-field-input,
  .u-separator-palette-1-light-1:after {
    border-color: #ff0000;
  }


  .u-input.u-palette-1-base,
  .u-field-input.u-palette-1-base,
  .u-button-style.u-palette-1-base,
  .u-button-style.u-palette-1-base[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #478ac9 !important;
  }

  .u-button-style.u-palette-1-base:hover,
.u-button-style.u-palette-1-base[class*="u-border-"]:hover,
.u-button-style.u-palette-1-base:focus,
.u-button-style.u-palette-1-base[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-palette-1-base:active,
.u-button-style.u-button-style.u-palette-1-base[class*="u-border-"]:active,
.u-button-style.u-button-style.u-palette-1-base.active,
.u-button-style.u-button-style.u-palette-1-base[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-palette-1-base,
li.active > .u-button-style.u-button-style.u-palette-1-base[class*="u-border-"] {
  color: var(--palette-1-base-text-color) !important;
  background-color: var(--palette-1-base-darker) !important;
}

  /*------4°RECUADRO------ */

.u-palette-1-base,
.u-body.u-palette-1-base,
section.u-palette-1-base:before,
.u-palette-1-base > .u-audio-main-layout-wrapper:before,
.u-palette-1-base > .u-container-layout:before,
.u-palette-1-base > .u-inner-container-layout:before,
.u-palette-1-base.u-sidenav:before,
.u-container-layout.u-container-layout.u-palette-1-base:before,
.u-table-alt-palette-1-base tr:nth-child(even) {
  background-color: #478ac9;
}

.u-white,
.u-body.u-white,
section.u-white:before,
.u-white > .u-audio-main-layout-wrapper:before,
.u-white > .u-container-layout:before,
.u-white > .u-inner-container-layout:before,
.u-white.u-sidenav:before,
.u-container-layout.u-container-layout.u-white:before,
.u-table-alt-white tr:nth-child(even) {
  color: #111111;
  background-color: #ffffff;
}

        .u-body
        {       
        --theme-sheet-width-xl: 1140px;
        --theme-sheet-width-lg: 940px;
        --theme-sheet-width-md: 720px;
        --theme-sheet-width-sm: 540px;
        --theme-sheet-width-xs: 340px;
  
        }

        h2:not(.u-subtitle)
        {
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 400;
        list-icon-spacing: 0.3;
        list-icon-size: 0.8;
        }
        h3
        {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
  
        h5
        {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h6
        {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
      
    
    





    /*-------------------------
             2° ESTRUCTURA
    -------------------------------*/
     


    .u-btn {
      display: table;
      cursor: pointer;
      color: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      text-transform: inherit;
      text-decoration: none;
      border: 0 none transparent;
      outline-width: 0;
      background-color: transparent;
      margin: 0;
      -webkit-text-decoration-skip: objects;
      white-space: nowrap;
      -webkit-user-select: none;
          -ms-user-select: none;
              user-select: none;
      vertical-align: middle;
      text-align: center;
      padding: 10px 30px;
      border-radius: 0;
      --border-radius: 0;
      align-self: flex-start;
    }
     
      .u-clearfix:after,
      .u-clearfix:before {
        content: '';
        display: table;
      }
      .u-border-color-none {
        background-color: transparent;
      }
      .u-text-default {
        display: table;
        align-self: flex-start;
        width: -webkit-fit-content;
        width: fit-content;
        width: -moz-fit-content;
      
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
        .u-xxl-mode .u-text-default-xl {
          display: table;
          align-self: flex-start;
          width: -webkit-fit-content;
          width: fit-content;
          width: -moz-fit-content;
        }
        .u-xxl-mode .u-text-default-xl:empty {
          display: block;
          width: 15px;
        }
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        .u-text-default-lg {
          display: table;
          align-self: flex-start;
          width: -webkit-fit-content;
          width: fit-content;
          width: -moz-fit-content;
        }
        .u-text-default-lg:empty {
          display: block;
          width: 15px;
        }
     
      }
      .u-image,
      .u-background-effect-image,
      .u-video-poster {
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      
      .u-sheet {
        position: relative;
        margin: 0 auto;
      }
      .u-xl-mode .u-sheet {
        width: var(--theme-sheet-width-xl);
      }
    
      .u-expanded-width {
        width: 100% !important;
      }
      @media (min-width: 1400px) {
        .u-expanded-width-xxl {
          width: 100% !important;
        }
      }
    
      @media (max-width: 575px) {
        .u-layout-wrap:not(.u-layout-custom-xs) .u-layout-row > * {
          min-width: 100%;
        }
        .u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
        .u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
          border-left: 0 !important;
          border-right: 0 !important;
        }
        .u-absolute-hcenter,
        .u-absolute-hcenter-xs {
          max-width: 100%;
        }
      }
      .u-layout-row > .u-size-44 {
        flex: 0 0 73.33333333%;
        max-width: 73.33333333%;
        min-width: 73.33333333%;
      }
      .u-layout-col > .u-size-31 {
        flex: 31 0 auto;
      }
      .u-layout-row > .u-size-30 {
        flex: 0 0 50%;
        max-width: 50%;
        min-width: 50%;
    
        }
        .u-layout-row > .u-size-20-xl {
          flex: 0 0 33.33333333%;
          max-width: 33.33333333%;
          min-width: 33.33333333%;
    
      }
        .u-layout-row > .u-size-2-xs {
          flex: 0 0 3.33333333%;
          max-width: 3.33333333%;
          min-width: 3.33333333%;
        }
        .u-layout-col > .u-size-2-xs {
          flex: 2 0 auto;
        }
    
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .u-layout-col > * {
          flex-basis: auto !important;
        }
      }
      .u-layout-col,
      .u-layout-row,
      .u-layout-col > *,
      .u-layout-row > * {
        display: flex;
      }
      .u-layout-col,
      .u-layout-row {
        flex: 1 1 auto;
      }
      .u-layout-row > * {
        max-height: 100%;
        min-height: -webkit-fit-content;
        min-height: fit-content;
      }
      .u-layout-col > * {
        min-height: -webkit-fit-content;
        min-height: fit-content;
        max-width: 100%;
      }
    .u-align-center {
        text-align: center;
      }
      .u-tabs:not([class*="u-align-"]),
      .u-accordion:not([class*="u-align-"]),
      .u-repeater-item:not([class*="u-align-"]),
      .u-container-style:not([class*="u-align-"]) {
        text-align: left;
      }
      .u-nav:not([class*="u-align-"]) .u-nav {
        text-align: left;
    
      }
      [class*="u-border-"],
      .u-input,
      .u-field-input,
      .u-link[class*="u-border-"] {
        border-style: solid; 
      }
      [class*="-radius-"],
      .u-radius,
      [class*="-radius-"]:before,
      .u-radius:before,
      [class*="-radius-"] .u-background-effect,
      .u-radius .u-background-effect,
      [class*="-radius-"]:not(.u-hover-box) > .u-container-layout,
      .u-radius:not(.u-hover-box) > .u-container-layout {
        border-radius: var(--top-left-radius, var(--border-top-left-radius, var(--radius, var(--border-radius, 0)))) var(--top-right-radius, var(--border-top-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-right-radius, var(--border-bottom-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-left-radius, var(--border-bottom-left-radius, var(--radius, var(--border-radius, 0)))) !important;
    