* {
    font-family: 'montserrat', sans-serif;
}

body {
    background-image: url(../imagenes/fondo/linea\ inicio\ sesion_Mesa\ de\ trabajo\ 1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
}

.logo {
    width: 210px; /* Aumenta el tamaño del logo */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Centra el logo y añade margen inferior */
}

/* Asegúrate de que el formulario esté centrado correctamente */
form {
    text-align: center;
    padding: 20px;
    background-color: rgba(235, 235, 205, 0.7);
    border-radius: 3px;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}


main {
    display: flex;
    width: 100%;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupa la mitad de la pantalla */
    height: 100vh;
}

form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 3px;
    margin-right: 20px; /* Espacio entre el formulario y la imagen */
    max-width: 400px; /* Ajusta el ancho del formulario según sea necesario */
    width: 100%;
    text-align: center; /* Centra el contenido dentro del formulario */
}

h1 {
    text-align: center;
    font-size: 2.1rem;
}

img {
    width: 2rem;
    height: auto;
    margin: 1px 15px;
    cursor: pointer;
}

input {
    padding: 15px 10px;
    margin: 5px 0;
    width: calc(100% - 20px); /* Ajusta el ancho del input según el padding */
    color: #666;
    border-radius: 1px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: rgb(62, 133, 4);
    padding: 8px 13px;
    margin: 10px 0;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #57A639;
}

