

/* Definir Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* Definir Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Aplicar Montserrat a todo el contenido del navmenu */
#navmenu {
  font-family: 'Montserrat', sans-serif;
}

/* Si necesitas aplicar estilos adicionales */
#navmenu a {
  font-family: 'Montserrat', sans-serif;
}


/* seguridad, innovacion etc */
h1 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; /* Ajusta el tamaño según sea necesario */
}


:root { 
  --background-color: hwb(0 100% 0% / 0.014); 
  --default-color: #09a0e6b2;
  --heading-color: #000000;
  --contrast-color: #ffffff; 
}

/* Colores de navegación - Las siguientes variables de color se usan específicamente para el menú de navegación. Son distintas de los colores globales para permitir más opciones de personalización */
:root {
  --nav-color: #000000;  /* El color predeterminado de los enlaces del menú de navegación principal */
  --nav-hover-color: #dd0a0a; /* Aplicado a los enlaces del menú de navegación principal cuando se pasa el ratón sobre ellos o están activos */
  --nav-dropdown-background-color: #ffffff; /* Usado como color de fondo para los elementos desplegables que aparecen al pasar el ratón sobre los elementos de navegación principales */
  --nav-dropdown-color: #000000; /* Usado para los enlaces de navegación de los elementos desplegables en el menú de navegación */
  --nav-dropdown-hover-color: #ce1212; /* Similar a --nav-hover-color, este color se aplica a los enlaces de navegación desplegables cuando se pasa el ratón sobre ellos */
}



:root {
  --alt-background-color: #241f1f;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

:root {
  --nav-color: #000000;  /* El color predeterminado de los enlaces principales del menú de navegación */
  --nav-hover-color: #dd0a0a; /* Aplicado a los enlaces principales del menú de navegación cuando se pasa el cursor sobre ellos o están activos */
  --nav-dropdown-background-color: #ffffff; /* Utilizado como el color de fondo para los elementos desplegables que aparecen al pasar el cursor sobre los elementos de navegación principales */
  --nav-dropdown-color: #000000; /* Usado para los enlaces de navegación de los elementos desplegables en el menú de navegación */
  --nav-dropdown-hover-color: #ce1212; /* Similar a --nav-hover-color, este color se aplica a los enlaces de navegación desplegables cuando se pasa el cursor sobre ellos */
}


/* footer*/
:root {
  --alt-background-color: #1f1f24;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  --background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 120px 0;
  text-align: center;
  position: relative;
}

.page-title h1 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: var(--default-font);
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 92px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 56px;
  }
}

/*--------------------------------------------------------------
#  Section Titles
--------------------------------------------------------------*/

/* Sección de Título */
.about  {
  color: #000000; /* Aplica el color negro */
  font-weight: 500; /* Ajusta el peso de la fuente si es necesario */
}

/* Otros estilos aplicables a la sección 'about' */
.about .book-a-table h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000000; /* Asegúrate de que el color sea negro */
  font-size: 34px;
}

.about .book-a-table p {
  font-family: 'Montserrat', sans-serif;
  color: #000000; /* Cambia el color a negro */
  font-weight: 500;
  font-size: 28px;
}

.about .content ul li {
  color: #000000; /* Aplica el color negro a los elementos de la lista */
}

.about .content p {
  color: #000000; /* Asegúrate de que el color de cualquier párrafo sea negro */
}


.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--default-font);
}

.section-title p {
  color: var(--heading-color);
  margin: 10px 0 0 0;
  font-size: 48px;
  font-weight: 550; /* Asegúrate de que esté en negrita */
  font-family: 'Montserrat', sans-serif; /* Aplica Montserrat Bold */
}

.section-title p .description-title {
  color: var(--accent-color);
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero h1 {
  font-size: 4rem; 
  line-height: 1.2; /* Espaciado entre líneas */
  white-space: nowrap; /* Asegura que el texto no se divida en varias líneas */
  margin: 0; /* Elimina el margen por defecto */
  margin-left: -70px; /* Ajusta este valor para mover el texto más a la izquierda */
}

.tagline {
  display: block;
  margin-left: -100px; /* Ajusta el valor según sea necesario */
  margin-top: 20px; /* Ajusta el valor para el espacio deseado */
}



.hero {
  --background-color: color-mix(in srgb, var(--default-color), transparent 94%);
  width: 100%;
  min-height: 60vh;
  position: relative;
  margin-top: 110px; /* Ajusta este valor según la altura del header */
  padding: 60px 0;
  display: flex;
  align-items: center;
}


.hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin: 5px 0 30px 0;
  font-size: 20px;
  font-weight: 400;
}

.hero .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 12px 28px;
  border-radius: 50px;
  transition: 0.5s;
  box-shadow: 0 8px 28px color-mix(in srgb, var(--accent-color), transparent 80%);
}

.hero .btn-get-started:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
  box-shadow: 0 8px 28px color-mix(in srgb, var(--accent-color), transparent 55%);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: var(--default-color);
  font-weight: 500;
}

.hero .btn-watch-video i {
  color: var(--accent-color);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover {
  color: var(--accent-color);
}

.hero .btn-watch-video:hover i {
  color: color-mix(in srgb, var(--accent-color), transparent 15%);
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 13px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# about 
--------------------------------------------------------------*/
/* Section Title" */
.about h3 {
  font-family: 'Montserrat', sans-serif; /* Añadir Montserrat Regular aquí */
  font-weight: 400; /* Cambiar el peso a normal, si quieres Montserrat Regular */
  font-size: 28px;
  margin-bottom: 20px;
}

.about .book-a-table {
  text-align: center;
  border: 4px solid #ce1212; /* Color rojo para el borde */
  padding: 22px;
}


.about .book-a-table h3 {
  font-family: 'Montserrat', sans-serif; /* Cambiar a Montserrat Regular aquí */
  margin: 0 0 0 0;
  font-size: 34px;
}
/* numeros */
.about .book-a-table p {
  font-family: 'Montserrat', sans-serif; /* Cambiar a Montserrat Regular aquí */
  color: var(--accent-color);
  font-weight: 500; /* Ajusta si prefieres el peso de Montserrat Regular */
  font-size: 28px;
  margin: 0;
}

.about .fst-italic {
  color: color-mix(in srgb, var(--default-color), var(--contrast-color) 50%);
  font-family: 'Montserrat', sans-serif; /* Añadir Montserrat Regular aquí */
}

/*videos */
.about .content ul {
  list-style: none;
  padding: 0;
}

/* separacion intem */
.about .content ul li {
  padding: 0 0 10px 30px;
  position: relative;
  font-family: 'Montserrat', sans-serif; /* Cambiar a Montserrat Regular aquí */
}
/* separacion intem */
.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: var(--accent-color);
}

.about .content p:last-child {
  margin-bottom: 0;
}
.gslide-video.fullscreen::before {
  background: rgba(0, 0, 0, 0.3); /* Ajusta la opacidad para el modo pantalla completa */
}



/* boton */
.goverlay {
  display: none; /* Añade esta línea para esconder el overlay si no quieres eliminarlo del todo */
}

.glightbox-loading {
  display: none !important;
}



.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--accent-color) 50%, color-mix(in srgb, var(--accent-color), transparent 75%) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
  z-index: 100; /* Añadido para que esté por encima */
}

.about .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid color-mix(in srgb, var(--accent-color), transparent 30%);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
  z-index: 999; 
}

.about .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 2; /* Añadido para que esté por encima */
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.about .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}


.about .play-btn:hover:after {
  border-left: 15px solid var(--accent-color);
  transform: scale(20);
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* Why Us Section */
:root {
  --default-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--default-font); /* Aplica Montserrat a todo el cuerpo del documento */
}

.why-us {
  --background-color: color-mix(in srgb, var(--default-color), transparent 94%);
  font-family: 'Montserrat', sans-serif; /* Asegura Montserrat en toda la sección */
}

.why-us .why-box,
.why-us .icon-box {
  background: var(--accent-color);
  color: var(--contrast-color);
  padding: 30px;
  border-radius: 10px; /* Bordes redondeados para un efecto más suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave alrededor de las cajas */
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.why-us .why-box:hover,
.why-us .icon-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más intensa al hacer hover */
}

.why-us .why-box h3 {
  color: var(--contrast-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .why-box p {
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.why-us .icon-box {
  background-color: var(--contrast-color);
  text-align: center;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea el contenido dentro de las cajas */
  justify-content: center; /* Centra verticalmente el contenido */
}

.why-us .icon-box i {
  color: var(--accent-color);
  font-size: 32px;
  margin-bottom: 30px;
  background: color-mix(in srgb, var(--accent-color), transparent 95%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  transition: 0.3s;
}

.why-us .icon-box h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}

.why-us .icon-box p {
  font-size: 15px;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  font-family: 'Montserrat', sans-serif;
}

/* Específicos para los textos "Membrecía", "Inscriptos" y "Caja de seguridad" */
.why-us .icon-box:nth-child(1) h4,
.why-us .icon-box:nth-child(1) p,
.why-us .icon-box:nth-child(2) h4,
.why-us .icon-box:nth-child(2) p,
.why-us .icon-box:nth-child(3) h4,
.why-us .icon-box:nth-child(3) p {
  color: #000000; /* Texto negro */
}

.why-us .icon-box:hover i {
  color: var(--contrast-color);
  background: var(--accent-color);
}

/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
.stats {
  --default-color: #ffffff;
  --background-color: #000000;
  position: relative;
  padding: 120px 0;
}

.stats img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.stats:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 40%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.stats .container {
  position: relative;
  z-index: 3;
}

.stats .stats-item {
  padding: 30px;
  width: 100%;
}

.stats .stats-item span {
  font-size: 48px;
  display: block;
  color: var(--default-color);
  font-weight: 700;
}

.stats .stats-item p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/


.menu-item img {
  transition: transform 0.3s ease;
}

.menu-item:hover img {
  transform: scale(1.1);
}



.menu .tab-content .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu .tab-content .col-lg-3 {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}


.menu .nav-tabs {
  border: 0;
}

.menu .nav-link {
  background-color: var(--background-color);
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin: 0 15px;
  padding: 10px 5px;
  transition: 0.3s;
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 80%);
}

@media (max-width: 575px) {
  .menu .nav-link {
    margin: 0 10px;
    padding: 10px 0;
  }
}

.menu .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.menu .nav-link h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  font-family: var(--default-font);
}

@media (max-width: 575px) {
  .menu .nav-link h4 {
    font-size: 16px;
  }
}

.menu .nav-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.menu .nav-link.active {
  background-color: var(--background-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}


.menu .tab-content .menu-item {
  text-align-last: center;
}

.menu .tab-content .menu-item .menu-img {
  padding: 0 60px;
  margin-bottom: 15px;
}

.menu .tab-content .menu-item h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: var(--default-font);
}

.menu .tab-content .menu-item .ingredients {
  font-family: var(--nav-font);
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  margin-bottom: 5px;
}

.menu .tab-content .menu-item .price {
  font-size: 24px;
  font-weight: 700;
  color: var(--accent-color);
}



/*--------------------------------------------------------------
/* Book A Table Section */
.book-a-table .reservation-img {
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.book-a-table .reservation-form-bg {
  background: color-mix(in srgb, var(--default-color), transparent 97%);
}

.book-a-table .php-email-form {
  padding: 30px;
}

@media (max-width: 575px) {
  .book-a-table .php-email-form {
    padding: 20px;
  }
}

.book-a-table .php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.book-a-table .php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.book-a-table .php-email-form .loading {
  display: none;
  background: var(--background-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.book-a-table .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--background-color);
  animation: animate-loading 1s linear infinite;
}

.book-a-table .php-email-form input[type=text],
.book-a-table .php-email-form input[type=email],
.book-a-table .php-email-form input[type=number],
.book-a-table .php-email-form input[type=date],
.book-a-table .php-email-form input[type=time],
.book-a-table .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: #000000; /* Cambiado a negro */
  background-color: color-mix(in srgb, var(--background-color), transparent 20%);
  border: 1px solid #000000; /* Aumento del grosor del borde a 3px, color celeste */
}

.book-a-table .php-email-form input[type=text]:focus,
.book-a-table .php-email-form input[type=email]:focus,
.book-a-table .php-email-form input[type=number]:focus,
.book-a-table .php-email-form input[type=date]:focus,
.book-a-table .php-email-form input[type=time]:focus,
.book-a-table .php-email-form textarea:focus {
  border-color: #ff0000; /* Celeste para el borde en foco */
}

.book-a-table .php-email-form input[type=text]::placeholder,
.book-a-table .php-email-form input[type=email]::placeholder,
.book-a-table .php-email-form input[type=number]::placeholder,
.book-a-table .php-email-form input[type=date]::placeholder,
.book-a-table .php-email-form input[type=time]::placeholder,
.book-a-table .php-email-form textarea::placeholder {
  color: color-mix(in srgb, #000000, transparent 70%); /* Cambiado a negro */
}

.book-a-table .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 14px 60px;
  transition: 0.4s;
  border-radius: 50px;
}

.book-a-table .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
  padding: 20px 30px;
  
}

.contact .info-item .icon {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0;
  font-family: var(--default-font);
  color: #000; /* Color del título */
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 16px; /* Aumentado el tamaño de la fuente */
  color: #000; /* Color del texto */
  font-weight: 500; /* Añadido un peso de fuente ligeramente mayor */
}

.contact .info-item .info-item-address,
.contact .info-item .info-item-phone,
.contact .info-item .info-item-email,
.contact .info-item .info-item-hours {
  border-left: 4px solid #00BFFF; /* Añadido un borde a la izquierda */
  padding-left: 15px; /* Espaciado a la izquierda del texto */
  margin-bottom: 10px; /* Espaciado inferior entre las secciones */
  background-color: #f0f8ff; /* Color de fondo muy claro */
  border-radius: 5px; /* Bordes redondeados para un aspecto más suave */
}

.contact .info-item .info-item-address h3,
.contact .info-item .info-item-phone h3,
.contact .info-item .info-item-email h3,
.contact .info-item .info-item-hours h3 {
  color: #000; /* Color del título en cada sección de info-item */
}

.contact .info-item .info-item-address p,
.contact .info-item .info-item-phone p,
.contact .info-item .info-item-email p,
.contact .info-item .info-item-hours p {
  color: #000; /* Color del texto en cada sección de info-item */
}

.contact .php-email-form {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra más prominente en el formulario */
  padding: 30px;
  margin-top: 30px;
  
}

@media (max-width: 575px) {
  .contact .php-email-form {
    padding: 20px;
  }
}

.contact .php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: var(--background-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--background-color);
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  color: #000; /* Color del texto de los campos de formulario */
  background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #00000046; /* Borde negro en los campos del formulario */
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: #000; /* Color del texto de los placeholders */
}

.contact .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.starter-section {

}
