



/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  text-decoration: none; /* Sin subrayado */
  color: #343a40; /* Color de los enlaces */
}

.faq .faq-list a:hover {
  color: #ffc107; /* Cambiar color al hacer hover */
  text-decoration: none; /* Mantener sin subrayado */
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  overflow: hidden; /* Prevenir desbordamiento */
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  left: 20px;
  color: #ffce3a;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #ffc107; /* Cambiar el color al pasar el mouse */
  text-decoration: none; /* Sin subrayado */
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}




/*------------------- Theme Title ------------------*/
.theme-title-one {position: relative;text-align: center;}
.theme-title-one h2 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 22px;
}
.theme-title-one h2:before {
  content: '';
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background: #c3c3c3;
  position: absolute;
  bottom: 0;
  left:50%;
  margin-left: -20px;
}
.theme-title-one p {padding-top: 20px;}

/*------------------- CAJA DE SEGURIDAD -------------------*/


.why-we-best-section {
  position: relative;
  padding: 50px 0;
  z-index: 1;
}

.why-we-best-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* El fondo azul cubrirá el 50% de la sección */
  height: 70%;
  background-color: #002855; /* Fondo azul */
  z-index: -1; /* El fondo azul estará detrás del contenido */
}

.why-we-best-section .best-content-wrapper {
  background-color: white;
  padding: 30px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2; /* Para que el contenido esté por encima del fondo azul */
}

.why-we-best-section .best-content-wrapper h5 {
  color: #000dbe;
  margin-top: 15px;
}

.why-we-best-section .best-content-wrapper p {
  color: #000000;
}

.why-we-best-section .best-list-item {
  list-style: none;
  padding: 0;
}

.why-we-best-section .best-list-item li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.why-we-best-section .best-list-item img.icon {
  width: 50px;
  margin-right: 20px;
}

.why-we-best-section .best-image img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la columna */
  height: 100%; /* Asegura que la imagen ocupe todo el alto disponible */
  object-fit: cover; /* Recorta la imagen si es necesario para mantener las proporciones */
  border-radius: 0px;
}

.why-we-best-section .theme-title-one h2 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.why-we-best-section .theme-title-one p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.why-we-best-section .row {
  display: flex;
  align-items: stretch;
  gap: 0; /* Eliminamos el espacio entre columnas */
  height: 100%; /* Asegura que la fila ocupe todo el alto */
}

.col-lg-6.col-12.best-image {
  padding: 0; /* Eliminamos el padding en la imagen */
}

.col-lg-6.col-12 {
  padding: 0; /* Eliminamos el padding en el texto */
  display: flex;
  align-items: center; /* Alineamos verticalmente el contenido en el centro */
}



/*------------------- CAJA 3 FOTOS ------------------*/


.photo-section {
  display: flex;
  justify-content: space-between; /* Espaciado entre las fotos */
  padding: 50px 0; /* Espaciado superior e inferior */
}

.photo-item {
  flex: 1; /* Permite que cada foto ocupe el mismo espacio */
  margin: 0 10px; /* Margen entre las fotos */
  text-align: center; /* Centra el texto debajo de cada imagen */
}

.photo-item img {
  width: 300px; /* Tamaño de la imagen (ajusta según tus necesidades) */
  height: 300px; /* Tamaño de la imagen (ajusta según tus necesidades) */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  border: 4px solid #002855; /* Borde azul alrededor de la imagen */
  object-fit: cover; /* Recorta la imagen si es necesario para mantener las proporciones */
}

.photo-item p {
  color: #555555; /* Color del texto */
  font-size: 14px; /* Tamaño de fuente del texto */
  margin-top: 10px; /* Espacio entre la imagen y el texto */
}


/*--------------- contactanos---------------*/


/* Sección de dos columnas (texto e imagen) */
.two-column-section {
  display: flex;
  justify-content: space-between; /* Espacio entre texto e imagen */
  align-items: center;
  padding: 40px 0; /* Espaciado superior e inferior */
}

.text-section {
  flex: 1; /* El texto ocupa el mismo espacio que la imagen */
  margin-right: 20px; /* Espaciado entre texto e imagen */
}

.text-section h2 {
  color: #002855; /* Color del título */
  font-size: 28px; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio entre el título y el subtítulo */
}

.text-section p {
  color: #555555; /* Color del subtítulo */
  font-size: 16px; /* Tamaño del subtítulo */
  margin-bottom: 20px; /* Espacio entre el subtítulo y el siguiente elemento */
}

/* Estilo del botón de contacto */
.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #002855; /* Fondo azul */
  color: white;
  font-size: 16px;
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s; /* Efecto de transición */
}

.contact-button:hover {
  background-color: #004080; /* Cambio de color al pasar el ratón */
}

/* Imagen a la derecha del texto */
.image-section {
  flex: 1; /* La imagen ocupa el mismo espacio que el texto */
}

.image-section img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 5px; /* Bordes redondeados en la imagen */
}

/* --------------- # Archivos digitales---------------*/

.services-section {
  position: relative;
  padding: 20px 0; /* Espacio arriba y abajo */
  text-align: center; /* Centrar el texto */
}

.line-background {
  position: absolute;
  top: 20%; /* Coloca la línea en el centro vertical de la sección */
  left: 0;
  width: 100%; /* La línea cubrirá el ancho completo */
  height: 95px; /* Altura de la línea */
  background-color: #6A1B14; /* Color de la línea */
  z-index: 0; /* Asegúrate de que la línea esté detrás del texto */
}

.services-title {
  position: relative;
  z-index: 1; /* Asegura que el título esté encima de la línea */
  margin: 0; /* Elimina el margen por defecto del h2 */
  padding: 10px 0; /* Añadir espacio alrededor del título */
}


  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #f7f8fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e21607;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #aab3c7;
  }

  /*--------------------------------------------------------------
  # Pricing
  --------------------------------------------------------------*/
/* Contenedor que agrupa los recuadros */
.pricing .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Recuadro individual */
.pricing .box {
  flex: 1 1 23%; /* Ajusta el tamaño del recuadro y agrega espacio entre recuadros */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea el contenido verticalmente */
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin: 0 10px; /* Añade margen para separar recuadros */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del width y height */
  min-height: 500px; /* Ajusta este valor al tamaño del recuadro más largo para alinear todos */
}

.beneficios {
  color: #ffc107; /* Cambia al color que prefieras */
  font-weight: bold;
  text-decoration: none; /* Sin subrayado */
  cursor: pointer;
}

.beneficios:hover {
  color: #e0a800; /* Color distinto al pasar el ratón por encima */
}

  .pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
  }
  
  .pricing h4 {
    font-size: 36px;
    color: #ffc107;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  
  .pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .pricing ul li {
    padding-bottom: 16px;
  }
  
  .pricing ul i {
    color: #fffffe;
    font-size: 18px;
    padding-right: 4px;
  }
  
  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
  }
  
  .pricing .btn-buy {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 4px;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 2px solid #c8cedc;
    color: #6c7c9f;
  }
  
  .pricing .btn-buy:hover {
    background: #fff;
  }
  
  .pricing .featured h3 {
    color: #fff;
    background: #ffc107;
  }
  
  .pricing .featured .btn-buy {
    background: #ffc107;
    color: #fff;
    border: 2px solid #ffc107;
  }
  
  .pricing .featured .btn-buy:hover {
    background: #ffce3a;
  }
  
  .pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #f03030;
    color: #fff;
  }
  
  

  /*--------------------------------------------------------------
  # tarjetas
  --------------------------------------------------------------*/

  .cards {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin: 130px 0; /* Espacio arriba y abajo de las tarjetas */
  }
  
  .card {
    width: 500px; /* Ajusta el tamaño según tu necesidad */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 10px; /* Espacio entre las tarjetas */
    border-radius: 5px; /* Bordes redondeados si lo deseas */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12); /* Sombra sutil */
  }
  
  /* Asegúrate de que las imágenes se ajusten bien al contenedor */
  .card img {
    width: 100%;
    height: auto;
  }

    /*--------------------------------------------------------------
  # descripcion
  --------------------------------------------------------------*/

  
  .plan-container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenedor principal */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    width: 80%;
    max-width: 1200px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido de cada plan */
    margin-bottom: 20px;
    width: 100%;
}


.text-section {
    flex: 1;
    text-align: center; /* Mantiene el texto centrado */
}

.text-section h2 {
    font-size: 35px;
}


.text-section h3 {
    font-size: 24px;
}


/* Oro - color dorado */
h2.oro {
    color: gold;
}

/* Plata - color plateado */
h2.plata {
    color: silver;
}

/* Cobre - color cobre */
h2.cobre {
    color: #b87333; /* Tono de cobre */
}

/* Hierro - color gris oscuro */
h2.hierro {
    color: #43464b; /* Tono de hierro */
}


/* Alineación a la izquierda solo para las listas */
ol {
    color: black;
    padding-left: 20px; /* Añade un padding para la indentación */
    text-align: left; /* Alinea los elementos de la lista a la izquierda */
    width: 100%; /* Asegura que las listas ocupen todo el ancho disponible */
}

li {
    margin-bottom: 5px;
}
